<div class="modal-wrapper" *ngIf="modalOpen">
  <div class="modal">
    <a class="modal__close" (click)="closeModal()">
      <fa-icon class="modal__close__icon" [icon]="faTimes"></fa-icon>
    </a>
    <div class="modal__body">
      <div class="modal__header">
        <h1>Ajouter un contact</h1>
      </div>
      <div class="modal__content">

        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="nom">
            <mat-error *ngIf="form.get('nom')?.invalid && form?.get('nom')?.touched">
              Veuillez saisir un nom valide
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="prenom">
            <mat-error *ngIf="form.get('prenom')?.invalid && form?.get('prenom')?.touched">
              Veillez saisir un prénom valide
            </mat-error>
          </mat-form-field>

<!--          <mat-form-field appearance="outline">
            <mat-label>Contact</mat-label>
            <input matInput type="text" formControlName="prenom">
            <mat-error *ngIf="form.get('prenom')?.invalid && form?.get('prenom')?.touched">
              Veillez saisir un type de contact valide
            </mat-error>
          </mat-form-field>-->


          <button #validateButton class="button-primary" (click)="addContact()" [disabled]="form.invalid">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
