<nav class="container" [ngClass]="{'scroll' : isScroll}">
  <div class="nav-container p-rl-1">
    <div class="nav-wrapper">
      <div class="nav-menu-container">
        <button class="menu-toggle" (click)="toggleMenu()">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
        <div class="nav-menu" [ngClass]="{'menu-open': menuOpen}">
          <a routerLink="/">Accueil</a>
        </div>
      </div>
    </div>
    <div class="nav-end">
      <ng-container *ngIf="loggedUser">
        <a routerLink="/mon-compte" class="mon-compte">
        <span class="user-square">
          {{initials}}
        </span>
          {{ loggedUser.userProfil.prenom }}
        </a>
      </ng-container>
      <div class="search">
      </div>
    </div>
  </div>
</nav>
