<section>
  <div class="container-40">
    <div class="card-top">
      <h1>{{agenda.title}}</h1>

      <a (click)="openModal()">
        <img src="assets/images/icons/element-plus.svg">
      </a>
    </div>

    <div class="agenda-contact-wrapper">
      <app-agenda-contact *ngFor="let contact of agenda?.contacts" [contact]="contact"></app-agenda-contact>
    </div>
  </div>
</section>
<app-add-contact [agendaUuid]="agenda.id"></app-add-contact>
