@use '@angular/material' as mat;
@include mat.core();
$agenda-primary: mat.define-palette(mat.$indigo-palette);
$agenda-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$agenda-warn: mat.define-palette(mat.$red-palette);
$agenda-theme: mat.define-light-theme((
  color: (
    primary: $agenda-primary,
    accent: $agenda-accent,
    warn: $agenda-warn,
  )
));
@include mat.all-component-themes($agenda-theme);
@include mat.core();

@import "base";

section{
  background-color: #fff;
  position: relative;
  margin-top: 80px;
}

.section-no-header {
  margin-top: 0;
}

h1{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  color: var(--dark-blue);
}

.container-80{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
}

.container-40{
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1rem 1rem 1rem;
}

.agenda-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}



.card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    background-color: #f4f4f4;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
  }
}

.title-retour{
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100%;


  &__retour{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 1.1rem;
    color: var(--agenda-blue) !important;
  }
}

.loading{
  width: 100%;
  animation: loading 1s infinite;

  &__title{
    width: 100px;
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 20px;
  }

  &__subtitle{
    width: 150px;
    height: 10px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 1rem;
  }

  &__content{
    width: 100%;
    height: 250px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 1rem;
  }
}

@keyframes loading{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
