<section>
  <div class="container-80">
    <div class="card-top">
      <h1>Mes agendas :</h1>

      <a href="#">Ajouter un agenda</a>
    </div>

    <div class="agenda-wrapper">
      <app-agenda-card *ngFor="let agenda of agendaList" [agenda]="agenda"></app-agenda-card>
    </div>
  </div>
</section>

