<div class="card-learn">
  <h2>{{agenda?.title}}</h2>
  <a routerLink="/agenda/{{agenda?.id}}" class="card-learn__arrow">
    <img src="/assets/images/icons/export.svg">
  </a>

  <div class="card-learn__profil">
    <ng-container *ngFor="let c of agenda?.contacts; let i = index;">
      <div class="head" *ngIf="i < 7">{{makeInitials(c.nom, c.prenom)}}
      </div>
    </ng-container>
    <div class="head plus" *ngIf="nbContacts > 7">
      +{{ nbContacts }}
    </div>
  </div>
</div>
