.card-learn{
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 20px;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  h2{
    text-align: center;
  }

  &__arrow{
    border-radius: 20px;
    background-color: var(--agenda-blue);
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    text-align: center;
    padding: 4px 20px;

    img{
      margin-top: 4px;
    }
  }

  &__image{
    width: 500px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__profil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .head{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: var(--agenda-blue);
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    .plus{
      background-color: #cccccc;
      color: #020C18;
      border-radius: 50%;
    }
  }
}
