<section class="login-section section-no-header">
  <div class="left">
    <h1 class="title-left">S'INSCRIRE SUR <br/>PERECT AGENDA</h1>
  </div>
  <div class="right">
    <div class="login-form-wrapper">
      <form [formGroup]="form">
        <h1 class="title-login">Rejoignez-nous !</h1>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error *ngIf="form?.get('username')?.invalid && form?.get('username')?.touched">
            Veuillez saisir un nom d'utilisateur valide
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="form?.get('password')?.invalid && form?.get('password')?.touched">
            Veillez saisir un mot de passe valide
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input matInput type="password" formControlName=confirmPassword>
          <mat-error *ngIf="form?.get('confirmPassword')?.invalid && form?.get('confirmPassword')?.touched">
            Veuillez saisir un mot de passe valide
          </mat-error>
          <!-- password must mach error -->
          <mat-error *ngIf="form?.get('password')?.value !== form?.get('confirm-password')?.value">
            Les mots de passe doivent être identiques
          </mat-error>

        </mat-form-field>


        <button #loginButton class="button-primary" [ngClass]="{'disabled' : form.invalid}" (click)="register()" [disabled]="form.invalid">
          Inscription
        </button>
      </form>

      <div class="divider">
        <span>ou</span>
      </div>

      <div class="no-account">
        <span>Déjà un compte ?</span>
        <a routerLink="/connexion">Connectez-vous</a>
      </div>
    </div>
  </div>
</section>
