<section class="login-section section-no-header">
  <div class="left">
    <h1 class="title-left">SE <br/>
      CONNECTER À <br/>PERFECT AGENDA</h1>
  </div>
  <div class="right">
    <div class="login-form-wrapper">
      <form [formGroup]="form">
        <h1 class="title-login">Oh, Vous revoilà !</h1>
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput type="text" formControlName="username">
          <mat-error *ngIf="form.get('username')?.invalid && form?.get('username')?.touched">
            Veuillez saisir un nom d'utilisateur valide
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="form.get('password')?.invalid && form?.get('password')?.touched">
            Veillez saisir un mot de passe valide
          </mat-error>
        </mat-form-field>


        <button #loginButton class="button-primary" [ngClass]="{'disabled' : form.invalid}" (click)="login()" [disabled]="form.invalid">
          Connexion
        </button>
      </form>

      <div class="divider">
        <span>ou</span>
      </div>

      <div class="no-account">
        <span>Pas encore de compte ?</span>
        <a routerLink="/inscription">Inscrivez-vous</a>
      </div>
    </div>
  </div>
</section>
