.contact{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  &__head{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f4f4f4;
    margin-right: 1rem;
  }

  h3{
    margin-left: 1rem;
  }
}

